/* Fix body height issue using https://stackoverflow.com/a/25829844/19020 */
html{ overflow: auto;} /* hide scrollbars */
body {
    height: 100vh;
    padding: 0;
    margin: 0;  /* For Chrome, because its default stylesheet adds margin */  
  }
/*****************************/

.currentConditions{
    font-size: 2.5vw;
    font-weight: bold;
}

.currentTemp {
    font-size: 8vw;
}

.weatherContainer {
    padding-top: 40px;
}

.weatherAlertMessageBody {
    padding: .5em .5em
}

.weatherAlertQR{
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.predomPollen {
    font-size: 1.2vw;
}

.currentConditionsExtra{
    font-size: 1.2vw;
}

.weatherHourlyCurrentTime{
    font-size: 1vw;
    font-weight: bold;
}

.weatherHourlyCurrentTemp{
    font-size: 2.5vw;
    font-weight: bold;
}

.weatherHourlyTime{
    font-size: 1vw
}

.weatherHourlyTemp{
    font-size: 1.3vw
}

.weatherHourlyPOP{
    font-size: 1vw;
    color: cornflowerblue;
}

.weatherWeek{
    margin: 10px 0 0 0;
}

.weatherWeekday{
    background-color: #121212;
}

.weatherWeekCurrentDate{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

.weatherWeekDate{
    font-size: 1vw;
    font-weight: bold;
}

.weatherWeekTemp{
    font-size: 1.3vw;
}

.weatherWeekPollen{
    color: #fff;
    font-size: .8vw
}

.pollen-danger{
    background-color: red;
}

.pollen-warn{
    background-color: orange;
}

.pollen-low{
    background-color: green;
}

.pollen-verylow{
    background-color: grey;
}

.currentTimeDisplay {
    font-size: 8vw;
}

.currentDateDisplay{
    font-size: 2vw;
}

.newsItem{
    background-color: #121212;
    min-height: 24vh; /* This might be crazy */
}

.newsContent{
    font-size: .6vw;
    padding: 10px;
}

.newsQR{
    margin: 0 0 0 10px;
}

.bodyDark {
    background-color: black;
}


