/* Fix body height issue using https://stackoverflow.com/a/25829844/19020 */
html{ overflow: auto;} /* hide scrollbars */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;  /* For Chrome, because its default stylesheet adds margin */  
    background-color: #000;
    color: #717171;
  }
/*****************************/

form.box{
    background-color: #dadada;
}

.hide-nav{
    display:none;
}

.dashboard{
    flex: 1;
}

.settings{
    flex: 1;    
}

.currentTemp{
    font-size: 9vw;
}

.currentConditions{
    position: relative;
    max-width: 8vw;
    top: 2vh;
}

.radarImage {
    margin-top: 20px;
    max-height: 23vh;
}

.weatherAlertMessageBody {
    font-size: 1.2vw;
    color: #db9933;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 1vh 0 1vh 0;
}

.weatherAlertQR{
    margin: .5vh 0 0 .5vw;
}

.predomPollen {
    font-size: 1.2vw;
}

.predomPollen strong {
    color: #717171;
}

.currentConditionsExtra{
    font-size: 1.2vw;
}

.currentConditionsExtra strong {
    color: #717171;
}

.weatherHourlyPOP{
    font-size: 1vw;
    color: cornflowerblue;
}

.weatherWeek{
    margin: 10px 0 0 0;
}

.weatherWeekday{
    background-color: #121212;
}

.weatherWeekCurrentDate{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

.weatherWeekDate{
    font-size: .8vw;
    font-weight: bold;
}

.weatherWeekTemp{
    font-size: 1vw;
}

.weatherWeekPollen{
    color: #fff;
    font-size: .8vw
}

.pollen-danger{
    background-color: red;
}

.pollen-warn{
    background-color: orange;
}

.pollen-low{
    background-color: green;
}

.pollen-verylow{
    background-color: grey;
}

.precipChance{
    font-size: .7vw;
    color: cornflowerblue;
}

.currentTimeDisplay {
    font-size: 9vw;
    color: #dadada;
}

.currentDateDisplay{
    font-size: 2vw;
}

.calendarContainer{
    max-height: 37vh;
    overflow:hidden;
    margin: 45px 0 0 0;
}

.calendarTable{
    color: #dadada;
    background-color: #000;
    font-size: 1vw;
}

.table td,
.table th {
 border:1px solid #4a4a4a;
 border-width:0 0 1px;
 padding:.5em .75em;
 vertical-align:top
}


tbody.calendarBody{
    background-color: #121212;
}

.eventTime{
    width: 30%;
}

.newsItem{
    background-color: #121212;
    min-height: 24vh; /* This might be crazy */
}

.newsContent{
    font-size: .6vw;
    padding: 10px;
    color: #717171;
}

.newsQR{
    margin: 3px 1px 0 10px;
}

.dashboardFooter {
    padding: 3rem 1.5rem 1rem;
}

.settingsTitle{
    padding: .5rem;
}

.settingsMapImage{
    border: 1px #121212 solid;
}

.loadContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    font-size: 5vh;
    max-width: 50%;
}

.lc{
    font-size: 2.5vh;
}

.loadOK{
    color: #3ec487;
}